﻿@model IDictionary<string, string>
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Controllers and Actions</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>
<body class="m-1 p-1">
<table class="table table-bordered table-sm table-striped">
    <tr><th>Name</th><th>Value</th></tr>
    @foreach (string key in Model.Keys) {
        <tr><td>@key</td><td>@Model[key]</td></tr>
    }
</table>
</body>
</html>