﻿@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Controllers and Actions</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css"/>
</head>
<body class="m-1 p-1">
<form method="post" asp-action="ReceiveForm">
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" name="name"/>
    </div>
    <div class="form-group">
        <label for="name">City:</label>
        <input class="form-control" name="city"/>
    </div>
    <button class="btn btn-primary center-block" type="submit">Submit</button>
</form>
</body>
</html>